<?xml version="1.0"?>
<!--ConnectonString.config не редактировать, автогенерация-->
<appSettings>
  <clear/>
 <add key="sessionLifeTime" value="240"/>
  <add key="checkClientVersion" value="true"/>
  <add key="typicalExchangeTimerStopped" value="true"/>
  <add key="specificExchangeTimerStopped" value="true"/>
  <add key="transportTimerStopped" value="true"/>
  <add key="asduTimerStopped" value="true"/>
  <add key="astraParsingTimerStopped" value="true"/>
  <add key="parsingTimerStopped" value="true" />
  <add key="dispatherDayStartHour" value="12"/>
  <add key="activeDirectory" value="DEV"/>
  <add key="emailSmtpHost" value="10.240.3.97"/>
  <add key="emailPop3Host" value="10.240.3.203"/>
  <add key="emailLogin" value="GA\gaz_router"/>
  <add key="emailPassword" value="Ybv56#hbaDf5"/>
  <add key="emailSystemAddress" value="gaz.router@gazauto.gazprom.ru"/>
  <add key="rootDirectory" value="c:\GazRouter\Dev"/>
  <add key="currentEnterpriseId" value="C635D0573DDBFF94E040F00A39052DC1"/>
  <add key="MainDb" value="DATA SOURCE=10.240.5.120:1521/DU2;PERSIST SECURITY INFO=True;USER ID=iusptu;PASSWORD=IUSPWD" />
  <add key="adminLogins" value="dev\s.bolshakov;DEV\alex.anisimoff" />
  <add key="sapBoUrl" value="https://mii.dev.ga.loc:8443/BOE/BI"/>
  <add key="exchangeSftpServerUrl" value="10.240.5.120"/>
  <add key="exchangeSftpServerPort" value="6666"/>
  <add key="exchangeSftpServerLogin" value="aa"/>
  <add key="exchangeSftpServerPassword" value="aa"/>
  <add key="exchangeSftpServerHostKey" value="ssh-rsa 1024 0d:98:82:46:73:99:75:c3:25:8d:94:bc:12:82:c2:53"/>
</appSettings>
