<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="asyncFile" type="AsyncWrapper">
        <target name="logFile" type="File" fileName="C:\GazRouter\Debug\Logs\mainLog.txt" layout="${longdate}:${message} ${exception:format=message,stacktrace:separator=*}" archiveEvery="Day" maxArchiveFiles="30" archiveNumbering="Sequence" encoding="UTF-8"/>
      </target>
      <target name="asyncFile1" type="AsyncWrapper">
        <target name="exchangeLogFile" type="File" fileName="C:\GazRouter\Debug\Logs\exchangeLog.txt" layout="${longdate}:${message} ${exception:format=message,stacktrace:separator=*}"/>
      </target>
      <target name="asyncFile2" type="AsyncWrapper">
        <target name="dataLoaderLogFile" type="File" fileName="C:\GazRouter\Debug\Logs\dataLoaderLog.txt" layout="${longdate}:${message} ${exception:format=message,stacktrace:separator=*}"/>
      </target>
    </targets>
    <rules>
      <logger name="mainLogger" minlevel="Debug" writeTo="asyncFile"/>
      <logger name="exchangeLogger" minlevel="Error" writeTo="asyncFile1"/>
      <logger name="dataLoader" minlevel="Error" writeTo="asyncFile2"/>
    </rules>
  </nlog>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <hostingEnvironment/>
    <httpRuntime maxRequestLength="32768" requestValidationMode="2.0"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <appSettings configSource="AppSettings.config"/>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="defaultBinding" openTimeout="00:01:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" closeTimeout="00:01:00" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows"/>
          </security>
          <!--
          <binaryMessageEncoding>
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          </binaryMessageEncoding>
-->
          <!--          <httpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647"/>-->
        </binding>
        <binding name="SslBinding" openTimeout="00:01:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" closeTimeout="00:01:00" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="Transport">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
        <binding name="asduBindingHttp">
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
        <binding name="asduBindingHttps">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
      <!--
      <basicHttpsBinding>

      
~1~      </basicHttpBinding>@1@
~1~
      <basicHttpBinding>
        <binding name="customBindingHttps" openTimeout="00:01:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" closeTimeout="00:01:00">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows"/>
          </security>
~2~
          <binaryMessageEncoding>
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          </binaryMessageEncoding>
@2@
~2~          <httpsTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" requireClientCertificate="false"/>@2@
        </binding>
      </basicHttpBinding>
@1@
~1~      <basicHttpBinding>@1@
      
       
      </basicHttpsBinding>
-->
    </bindings>
    <services>
      <service name="DataServices.ExchangeServices.ExchangeService">
        <endpoint address="soapService" binding="basicHttpBinding" contract="DataServices.ExchangeServices.IExchangeService"/>
      </service>
      <service name="DataServices.ExchangeServices.AsduExchangeService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="asduBindingHttp" contract="DataServices.ExchangeServices.IAsduExchangeService"/>
        <endpoint binding="basicHttpBinding" bindingConfiguration="asduBindingHttps" contract="DataServices.ExchangeServices.IAsduExchangeService"/>
      </service>
    </services>
    <protocolMapping>
      <clear/>
      <add scheme="http" binding="basicHttpBinding" bindingConfiguration="defaultBinding"/>
      <add scheme="https" binding="basicHttpBinding" bindingConfiguration="SslBinding"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <handlers>
      <add verb="GET" path="*.blob" name="BlobHandler" type="GazRouter.DataServices.HttpHandlers.BlobHandler"/>
      <add verb="GET" path="*.exml" name="ExchangeXmlHandler" type="GazRouter.DataServices.HttpHandlers.ExchangeXmlHandler"/>
      <add verb="GET" path="*.xlsx" name="XlsxHandler" type="GazRouter.DataServices.HttpHandlers.XlsxHandler"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>