<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform"
              >
  <appSettings>
    <add key="MainDb" value="DATA SOURCE=10.240.5.120:1521/TOM;PERSIST SECURITY INFO=True;USER ID=iusptu;PASSWORD=IUSPWD" xdt:Transform="SetAttributes"  xdt:Locator="Match(key)" />
    <add  key="dispatherDayStartHour" value="15" xdt:Transform="SetAttributes"  xdt:Locator="Match(key)" />
    <add key="rootDirectory" value="c:\GazRouter\Tomsk" xdt:Transform="SetAttributes"  xdt:Locator="Match(key)"/>
    <add key="currentEnterpriseId" value="C635D0573DDEFF94E040F00A39052DC1" xdt:Transform="SetAttributes"  xdt:Locator="Match(key)"/>
  </appSettings>

</configuration>