<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform"
              >
  <appSettings>
    <add value="DATA SOURCE=10.240.5.120:1521/DU2;PERSIST SECURITY INFO=True;USER ID=iusptu;PASSWORD=IUSPWD" key="MainDb" xdt:Transform="SetAttributes"  xdt:Locator="Match(key)" />
    <!--  <add key="MainDb" value="DATA SOURCE=10.240.5.120:1521/TOM;PERSIST SECURITY INFO=True;USER ID=iusptu;PASSWORD=IUSPWD" xdt:Transform="SetAttributes"  xdt:Locator="Match(key)" />-->
    <!--  <add key="MainDb" value="DATA SOURCE=10.240.5.120:1521/CHA;PERSIST SECURITY INFO=True;USER ID=iusptu;PASSWORD=IUSPWD" xdt:Transform="SetAttributes"  xdt:Locator="Match(key)" />-->
    <!--  <add key="MainDb" value="DATA SOURCE=10.240.5.120:1521/YUG;PERSIST SECURITY INFO=True;USER ID=iusptu;PASSWORD=IUSPWD" xdt:Transform="SetAttributes"  xdt:Locator="Match(key)" />-->
    <!--  <add key="MainDb" value="DATA SOURCE=10.240.5.120:1521/SAR;PERSIST SECURITY INFO=True;USER ID=iusptu;PASSWORD=IUSPWD" xdt:Transform="SetAttributes"  xdt:Locator="Match(key)" />-->
    <add key="dispatherDayStartHour" value="12" xdt:Transform="SetAttributes"  xdt:Locator="Match(key)" />
    <add key="currentEnterpriseId" value="C635D0573DDBFF94E040F00A39052DC1" xdt:Transform="SetAttributes"  xdt:Locator="Match(key)"/>
    <add key="transportTimerInterval" value="5" xdt:Transform="SetAttributes"  xdt:Locator="Match(key)"/>
    <add key="rootDirectory" value="c:\GazRouter\Dev" xdt:Transform="SetAttributes"  xdt:Locator="Match(key)"/>
    <add key="adminLogins" value="dev\s.bolshakov;DEV\alex.anisimoff" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>