<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Integro.IUSExchange.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <!--<add key="MainDb" value="DATA SOURCE=192.168.0.159:1521/gaz;PERSIST SECURITY INFO=True;USER ID=system;PASSWORD=1"/>-->
    <!--<add key="MainDb" value="DATA SOURCE=localhost:1521/gaz14082017;PERSIST SECURITY INFO=True;USER ID=system;PASSWORD=Pass123456"/>-->
    <add key="MainDb" value="DATA SOURCE=10.240.5.120:1521/DU2;PERSIST SECURITY INFO=True;USER ID=iusptu;PASSWORD=IUSPWD" />
    <add key="dispatherDayStartHour" value="12" />
    <add key="currentEnterpriseId" value="C635D0573DDBFF94E040F00A39052DC1" />
    <add key="workAnalyticTypeId" value="EC36051FCB574B83B381464F71571B47" />
    <add key="typicalExchangeTimerStopped" value="true" />
    <add key="specificExchangeTimerStopped" value="true" />
    <add key="transportTimerStopped" value="true" />
    <add key="correctMoscowZone" value="3" />
    <add key="useCorrectMoscowDateTime" value="true" />
    <add key="astraParsingTimerStopped" value="true" />
    <add key="parsingTimerStopped" value="true" />
    <add key="rootDirectory" value="c:\GazRouter\Saratov" />
    <add key="exportNotRequired" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="fileFormatAsduExport2H" value="yyyy_MM_dd_HH_mm_ss" />
  </appSettings>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" fileName="c:\log.txt">
      </target>
    </targets>
    <rules>
      <logger name="*" minLevel="Debug" writeTo="logfile">
      </logger>
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>