<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform"
              >
    <appSettings>
    <add  key="dispatherDayStartHour" value="12" xdt:Transform="SetAttributes"  xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="MainDb" connectionString="DATA SOURCE=10.240.5.120:1521/CHA;PERSIST SECURITY INFO=True;USER ID=iusptu;PASSWORD=IUSPWD" xdt:Transform="SetAttributes"  xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add  key="dispatherDayStartHour" value="12" xdt:Transform="SetAttributes"  xdt:Locator="Match(key)" />
  </appSettings>
</configuration>