<?xml version="1.0"?>
<!--ConnectonString.config не редактировать, автогенерация-->
<appSettings>
  <clear/>
 <add key="sessionLifeTime" value="240"/>
  <add key="checkClientVersion" value="true"/>
  <add key="dispatherDayStartHour" value="12"/>
  <add key="activeDirectory" value="DEV"/>
  <add key="emailSubjectFlag" value="Технологические"/>
  <add key="emailSmtpHost" value="10.240.3.97"/>
  <add key="emailPop3Host" value="10.240.3.203"/>
  <add key="emailLogin" value="GA\gaz_router"/>
  <add key="emailPassword" value="Ybv56#hbaDf5"/>
  <add key="emailSystemAddress" value="gaz.router@gazauto.gazprom.ru"/>
  <add key="rootDirectory" value="c:\GazRouter\Saratov"/>
  <add key="currentEnterpriseId" value="C635D0573DDBFF94E040F00A39052DC1"/>
  <add key="MainDb" value="DATA SOURCE=10.240.5.120:1521/SAR;PERSIST SECURITY INFO=True;USER ID=iusptu;PASSWORD=IUSPWD" />
  <add key="adminLogins" value="" />
  <add key="sapBoUrl" value="https://mii.dev.ga.loc:8443/BOE/BI"/>
  <!--CIntegro-->
  <add key="sessionExportDimension" value="true"/>
  <add key="sessionExportParameterFullName" value="true"/>
  <add key="sessionValidateAfterExport" value="true"/>
  <add key="convertDateTime" value="false" />
  <add key="correctMoscowZone" value="3" />
  <!--<add key="asduEsgExportEvent" value="3" />-->
  <add key="asduEsgExportRun" value="false" />
  <add key="asduEsg2HOffset" value="10" />
  <add key="asduExchangeArchiveDirectory" value="C:\GazRouter\Dev\Exchange\AsduEsgArchive" />
  <add key="helpFile" value="Help/Инструкция.docx" />
  <add key="lastChangesFile" value="Help/LastChanges.html" />
</appSettings>

