<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<appSettings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add key="MainDb" value="DATA SOURCE=10.240.5.120:1521/CHA;PERSIST SECURITY INFO=True;USER ID=iusptu;PASSWORD=IUSPWD" xdt:Transform="SetAttributes"  xdt:Locator="Match(key)" />
  <add  key="dispatherDayStartHour" value="12" xdt:Transform="SetAttributes"  xdt:Locator="Match(key)" />
  <add key="currentEnterpriseId" value="C635D0573DE1FF94E040F00A39052DC1" xdt:Transform="SetAttributes"  xdt:Locator="Match(key)"/>
  <add key="rootDirectory" value="c:\GazRouter\Chaykovsky" xdt:Transform="SetAttributes"  xdt:Locator="Match(key)"/>

</appSettings>