<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform"
                xmlns:nlg="http://www.nlog-project.org/schemas/NLog.xsd">
    <system.web>
      <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>
  <nlg:nlog  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <nlg:targets >
      <nlg:target>
      <nlg:target xsi:type="File" name="logFile" layout="${longdate}:${message} ${exception:format=message,stacktrace:separator=*}" fileName="C:\GazRouter\Yugorsk\Logs\mainLogYugorsk.txt" xdt:Transform="SetAttributes"  xdt:Locator="Match(name)" />
        </nlg:target>
    <nlg:target>
        <nlg:target xsi:type="File" name="exchangeLogFile" layout="${longdate}:${message} ${exception:format=message,stacktrace:separator=*}" fileName="C:\GazRouter\Yugorsk\Logs\exchangeLogYugorsk.txt" xdt:Transform="SetAttributes"  xdt:Locator="Match(name)" />
      </nlg:target>
    </nlg:targets>
  </nlg:nlog>
</configuration>