<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--<binding name="BasicHttpBinding_Default"  maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>-->
        <binding name="BasicHttpBinding_Transport"  maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>

      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:44300/"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Transport" contract="*"
          name="BasicHttpBinding_TransportEndpoint" />
      <!-- <endpoint address="http://localhost:33320/"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Default" contract="*"
          name="BasicHttpBinding_DefaultEndpoint" />
      <endpoint address="https://10.240.5.120:443/dev1/"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Transport" contract="*"
          name="BasicHttpBinding_TransportEndpoint" />   -->
      
      
    <!--<endpoint address="http://10.240.5.120/dev1/"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Default" contract="*"
          name="BasicHttpBinding_DefaultEndpoint" />-->

    </client>
  </system.serviceModel>
</configuration>


<!--<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
    <system.serviceModel>
      <behaviors>
        <serviceBehaviors>
          <behavior>
            -->
<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
<!--
            <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
            -->
<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
<!--
            <serviceDebug includeExceptionDetailInFaults="true"/>
            <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          </behavior>
        </serviceBehaviors>
      </behaviors>

      <bindings>
            <basicHttpBinding>
               

                  <binding name="BasicHttpBinding_IObjectModelService" openTimeout="00:01:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" closeTimeout="00:01:00" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
               
                  <binding name="BasicHttpBinding_IObjectModelService1" openTimeout="00:01:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" closeTimeout="00:01:00" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>

                    <security mode="Transport">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
          <endpoint address="http://localhost:33320/ObjectModel/ObjectModelService.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IObjectModelService"
              contract="ServiceReference1.IObjectModelService" name="BasicHttpBinding_IObjectModelService" >
             
          </endpoint>
          -->
<!--  <endpoint address="https://localhost:44300/ObjectModel/ObjectModelService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IObjectModelService1"
                contract="ServiceReference1.IObjectModelService" name="BasicHttpBinding_IObjectModelService1">
             
            </endpoint>-->
<!--
        </client>


      <protocolMapping>
          <clear/>
              <add scheme="http" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IObjectModelService" />
              <add scheme="https"  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IObjectModelService1"/>
         </protocolMapping>
    </system.serviceModel>
  
</configuration>-->